<div class="container">
    <div *ngIf="user" class="row">
        <!-- Left Column: Current User Details -->
        <div class="col-md-5">
            <h2 class="page-header">Hello! {{ user.name }}</h2>
            <ul class="list-group">
                <li class="list-group-item"><strong>Email: </strong>{{ user.email }}</li>
                <li class="list-group-item"><strong>Name: </strong>{{ user.name }}</li>
            </ul>
        </div>
        
        <!-- Right Column: Update Password -->
        <div class="col-md-4 offset-md-1">
            <h4>Update Your Password:</h4>
            <form (submit)="updateDetails()">
                <div class="form-group">
                    <input type="password" id="password" [(ngModel)]="newPassword" name="password" class="form-control" placeholder="Enter new password" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-custom mt-4">Submit Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
